/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
  width: 13px !important; /* Standart 8px bo‘ladi, biz 12px qildik */
  height: 14px !important; /* Barcha nuqtalarni kattalashtirish */
  background-color: #fff !important; /* Rangi ko‘k bo‘lishi uchun */
  opacity: 0.7 !important; /* Biroz shaffoflik */
}

.swiper-pagination-bullet-active {
  width: 13px !important; /* Faol tugma kattaroq bo‘lishi uchun */
  height: 13px !important;
  background-color: #fff !important; /* Faol tugma qizil rangda bo‘lishi */
}

/* Ikki yoni uchun */

.swiper-button-prev,
.swiper-button-next {
  width: 50px !important;
  height: 50px !important;
  background-color: rgb(156, 166, 166) !important;
  border-radius: 50%; /* Dumaloq qilish */
  color: rgba(0, 0, 0, 0.6) !important; /* Oq rangli o‘qlar */
  font-size: 19px !important;
}

/* O‘ng tugmani sal ichkariga surish */
.swiper-button-next {
  right: 15px !important;
}

/* Chap tugmani sal ichkariga surish */
.swiper-button-prev {
  left: 15px !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 19px !important; /* O‘q belgilarini kattalashtirish */
}

/* login */

/* * {
  font-family: "Inter", sans-serif;
} */

.bgcolor {
  background: linear-gradient(to right, #00bfa5 49.5%, #ffffff 49.5%);
  height: 100vh;
  margin: 0;
}

.bgcolorKichik {
  background: linear-gradient(to right, #ffffff 49%, #00bfa5 49%);
  height: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); /* Kengaytirilgan va kuchaytirilgan shadow effekti */
  border-radius: 11px; /* Oyoqni yumshatish uchun */
}
